<h1></h1>


<div class="container">
	<div class="row">
		<div class="col-md-6"><%= image_tag "iphone6.png" %></div>
		
		<div class="col-md-4">
			<h1>Workout Tracker</h1>
			<p class="lead"><small>The gym buddy you wish you always had.</small></p>
				<%= form_for(:session, url: sessions_path, class: "form-horizontal") do |f| %>
					<%= f.label :email %><br>
					<%= f.text_field :email %><br>
					<%= f.label :password %><br>
					 <%= f.password_field :password %>

					<%= f.submit "Sign In!" %>
				<% end %>

			<%= link_to "New User!", signup_path %>

							
				
				
		</div>
	</div>
</div>