<h1>Sign In!</h1>

<div class="container">
	<div class="row">
		<div class="col-md-6"><%= image_tag "iphone6.png" %></div>
		
		<div class="col-md-4">
			<h1>Workout Tracker</h1>
			<p class="lead"><small>The gym buddy you wish you always had.</small></p>
			
			<form class="form-horizontal" role="form">
				<div class="form-group">
				<%= form_for(:session, url: sessions_path) do |f| %>
					<div class="col-sm-6">
						<%= f.label :email %> <br>
						<%= f.text_field :email %>
					</div>
				</div>
				<div class="form-group">
						<%= f.label :password %> <br>
						<%= f.password_field :password %>
				</div>

				<button type="button" class="btn btn-info"><%= f.submit "Sign In!" %></button>
				<% end %>
				
				<button type="button" class="btn btn-info"><%= link_to "New User!", signup_path %></button>
			</form>
		</div>
	</div>
</div>